 <!DOCTYPE html>
<html>
<head>
        <title>Paresh Ka Sandesh</title>
    </head>  
<head>
<body>
    <div><h1>Tihing aa Katha</h1>
    <h2><em>Aaj ka baat</em></h2>
    <p><strong>Boliye,Bataiye,Taki duniya aage badh sake!</strong></p></div>
    <section><ul><li>pdhiye</><li>aage badhne ki sochiye</li><li>Harne se mat Dariye</li><li>Harne ke baad fir se shuru ho jaiye</li></section>
    <p><a href="www.google.com">link</a></p>
</body>
</html>
{% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}
